body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d686bd; /* Pinkish Purple */
}

.container {
    text-align: center;
}

.quote {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #5a315c; /* Dark Purple */
    color: white;
    font-size: 24px;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    background-color: #5a315c; /* Dark Purple */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #452546; /* Darker Purple */
}
